.decisionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  margin: 20px auto;
  padding-left: 10px;
  border-left: 3px solid;
  cursor: pointer;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.header {
  composes: header from 'sharedStyles/styles.css';
}