.container {
  width: 70%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.cardContainer {
  width: 49%;
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
  overflow: scroll;
  position: relative;
}

.or {
  background: #333;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.decisionText {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  font-size: 25px;
}

.decisionTextAnswered {
  composes: decisionText;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  text-align: center;
  left: 0;
  right: 0;
}

.percentage {
  font-size: 45px;
  font-weight: bold;
}

.agree {
  color: rgba(0, 0, 0, 0.30);
  margin: 8px;
}

.icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: green;
}